@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
    --foreground: #ededed;
    }

    body {
      color: var(--foreground);
        background: var(--background);
          font-family: Arial, Helvetica, sans-serif;
          }
          